flask
pandas
websockets
asyncio
bson
pymongo
flask_mysqldb
datetime
google-api-python-client
google-api-client
google-auth-oauthlib google-auth-httplib2
tweepy
praw
selenium 
PySide2==5.15.2
SQLAlchemy
python-dateutil
requests
requests_oauthlib
requests[security]==2.7.0
requests[socks]
requests-toolbelt
rauth
lxml
xmljson
cchardet
pyjsparser
tldextract
