.column{
    float:left;
}
#messageBox{
    height:35vh;
    width:40vw;
    border:1px solid #0077b6;
    font:16px/26px Georgia, Garamond, Serif;
    overflow:auto;
    margin-top:0px;
    box-shadow: 1px 1px 10px 1px#888888;
    background-color: rgba(255, 255, 255, 0.925);
}
/* CSS for bottom two part box */

#csvBox1 {
    height: 25vmin;
    width: 90%;
    border: 1px solid #0077b6;
    font-size: 20px;
    overflow: auto;
    margin-left: 15px;
    padding:10px;
    box-shadow: 1px 1px 10px 1px#888888;
    background-color: rgba(255, 255, 255, 0.925);
}

#csvBox2 {
    height: 75vmin;
    width: 90%;
    border: 1px solid #0077b6;
    font-size: 20px;
    overflow: auto;
    margin-left: 15px;
    box-shadow: 1px 1px 10px 1px#888888;
    background-color: rgba(255, 255, 255, 0.925);
}

/* Yew Lee's Table CSS starts here */

table {
    position: static;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;

}

td,
th {
    border: 1px solid #000000;
    text-align: left;
}


tr:nth-child(even) {
    background-color: #d4e3e6;
}

/* HW's Css */
.boxTitle{
    margin-left: 15px;
    font-size:25px;
}

input, #crawler{
    background-color: rgba(255, 255, 255, 0.925);
    border: 1px solid #0077b6;
}