

.fload-sqlBox {
  float: left;
  height: 30vmin;
  width: 30vw;
  max-height: 40vmin;
  max-width: 40vw;
  border: 2px solid black;
  font-size: 20px;
}

.fload-mongodbBox {
  float: left;
  height: 30vmin;
  width: 30vw;
  max-height: 40vmin;
  max-width: 40vw;
  border: 2px solid black;
  font-size: 20px;
}


table {
  position: static;
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;

}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

.container {
  width:900px; 
  height: 150px;
}

.first-box {
  width:300px; 
  float:left; 
  background: green; 
  height: 150px;
  margin: 50px
}

.first-box p {
  color: #ffffff;
  padding-left: 80px;
  padding-top: 50px;
}

.second-box {
  width:300px; 
  height: 150px; 
  float:right; 
  background: blue;
  margin: 50px
}

.second-box p {
  color: #ffffff;
  padding-left: 110px;
  padding-top: 50px;
}