
body{
  background-color: #caf0f8;
}

/* Style the links inside the sidenav */
#mySidenav a {
  position: absolute; /* Position them relative to the browser window */
  left: 0px; /* Position them outside of the screen */
  transition: 0.3s; /* Add transition on hover */
  padding: 15px; /* 15px padding */
  width: 20%; /* Set a specific width */
  text-decoration: none; /* Remove underline */
  font-size: 20px; /* Increase font size */
  color: white; /* White text color */
  border-radius: 0 5px 22px 0; /* Rounded corners on the top right and bottom right side */
  margin-bottom: 100px;
  float: right;
  }
  
  #mySidenav a:hover {
    left: 30px; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  #a {
    top: 20px;
    background-color: #00b4d8;
  }
  
  #b {
    top: 80px;
    background-color: #00b4d8; /* Blue */
  }
  
  #c {
    top: 140px;
    background-color:  #00b4d8; /* Red */
  }
  
  #d {
    top: 200px;
    background-color: #00b4d8 /* Light Black */
  }

  #rightContent {
    float:left;
    font-size: 20px;
  }

